.board{
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  max-height: 700px;
  flex-direction: column;
  align-content: flex-start;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 150px;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 5px;
  align-items: center;
}

.card-selected {
  background-color: rgba(255, 255, 0, 0.5);
}

.card-correct {
  background-color: rgba(0, 128, 0, 0.5);
}

.card-incorrect {
  background-color: rgba(255, 0, 0, 0.5);
}

.shape{
  width: 100px;
  height: 40px;
}

.shape-green{
  background-color: green;
}

.shape-violet{
  background-color: violet;
}

.shape-red{
  background-color: red;
}